<%- include('doctype.ejs'); %>

<html>
	<head>
		<title><%-vars.login_title%></title>

		<%- include('pages_imports.ejs'); %>
		<script src='https://www.google.com/recaptcha/api.js'></script>

		<script>
			let recaptcha_checked = false

			function recaptcha_callback () {
				recaptcha_checked = true
			}

			function validate_form () {
				if (msg_info.is_open()) {
					return false
				}

				if (recaptcha_enabled && !recaptcha_checked) {
					return false
				}

				DOM.el(`#login_username`).value = DOM.el(`#login_username`).value.trim()

				let username = DOM.el(`#login_username`).value
				let password = DOM.el(`#login_password`).value

				if (username.length === 0) {
					show_info(`Username can't be empty`)
					return false
				}

				if (password.length === 0) {
					show_info(`Password can't be empty`)
					return false
				}

				if (username.length > max_max_username_length) {
					show_info(`Username is too long`)
					return false
				}

				if (password.length > max_max_password_length) {
					show_info(`Password is too long`)
					return false
				}

				DOM.el(`#btn_login`).disabled = true

				return true
			}
		</script>
	</head>

	<body>
		<div class="main">
			<div class="header_info">
				<div>Login here</div>
				<div>Enter username and password</div>
			</div>

			<form method="post" action="/login" name="login" onsubmit="return validate_form()">
				<input type="hidden" name="fromurl" value="<%-vars.fromurl%>">
				<input type="text" placeholder="Username" name="username" id="login_username">
				<div class="spacer4"></div>
				<input type="password" placeholder="Password" name="password" id="login_password">

				<div class="spacer4"></div>

				<% if(vars.recaptcha_enabled) {%>

				<div class="g-recaptcha" data-sitekey="<%-vars.recaptcha_key%>" data-callback="recaptcha_callback"></div>
				<div class="spacer4"></div>

				<%}%>

				<input id="btn_login" type="submit" value="Login">
			</form>

			<div class="spacer1"></div>
			<a href="/register">Register</a>
			<div class="spacer1"></div>
		</div>

		<script>
			DOM.el(`#login_username`).focus()

			if(form_username && form_username !== `undefined`) {
				DOM.el(`#login_username`).value = form_username
			}
		</script>
	</body>
</html>