<%- include('doctype.ejs'); %>

<html>
	<head>
		<title><%-vars.login_title%></title>

		<%- include('pages_imports.ejs'); %>
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>

	<body>
		<div class="main">
			<div class="header_info">
				<div>You can login here</div>
				<div>Enter username and password</div>
				<div>Or you can <a href="/register" class="underline">register</a> instead</div>
			</div>

			<form method="post" action="/login" name="login" onsubmit="return validate_form()">
				<input type="hidden" name="fromurl" value="<%-vars.fromurl%>">
				<input type="text" placeholder="Username" name="username" id="login_username">
				<div class="spacer4"></div>
				<input type="password" placeholder="Password" name="password" id="login_password">

				<div class="spacer4"></div>

				<% if(vars.recaptcha_enabled) {%>

				<div class="g-recaptcha" data-sitekey="<%-vars.recaptcha_key%>" data-callback="recaptcha_callback"></div>
				<div class="spacer4"></div>

				<%}%>

				<input id="btn_login" type="submit" value="Login">
			</form>

			<div class="spacer1"></div>
		</div>

		<script>
			let user_el = DOM.el(`#login_username`)
			let pass_el = DOM.el(`#login_password`)
			let btn_submit = DOM.el(`#btn_login`)

			if(form_username && (form_username !== `undefined`)) {
				user_el.value = form_username
			}

			let recaptcha_checked = false

			function recaptcha_callback() {
				recaptcha_checked = true
			}

			DOM.ev(user_el, `input`, on_username_input)

			function on_username_input() {
				let username = user_el.value.trim()
				username = username.replace(/[^a-zA-Z0-9]/g, ``)
				user_el.value = username

				if (username.length > max_max_username_length) {
					username = username.substring(0, max_max_username_length)
					user_el.value = username
				}
			}

			function validate_form() {
				if (msg_info.is_open()) {
					return false
				}

				if (recaptcha_enabled && !recaptcha_checked) {
					return false
				}

				user_el.value = user_el.value.trim()

				let username = user_el.value
				let password = pass_el.value

				if (username.length === 0) {
					show_info(`Username can't be empty`)
					return false
				}

				if (password.length === 0) {
					show_info(`Password can't be empty`)
					return false
				}

				if (username.length > max_max_username_length) {
					show_info(`Username is too long`)
					return false
				}

				if (password.length > max_max_password_length) {
					show_info(`Password is too long`)
					return false
				}

				btn_submit.disabled = true
				return true
			}
		</script>
	</body>
</html>