<body>
  <div id="main_container" class="bg0">
    <img id="background" class="background">
    <div class="columns_container bg1">
      <%- include("flash_info.ejs"); %>
      <%- include("header.ejs"); %>
      <div class="rows_container" id="main_rows_container">
        <%- include("chat.ejs"); %>
        <%- include("media.ejs"); %>
      </div>
      <%- include("radio.ejs"); %>
      <%- include("footer.ejs"); %>
    </div>
  </div>
    
  <%- include("dropzone.ejs"); %>
  <%- templates %>
  <%- svg %>
</body>