<%- include("../doctype.ejs"); %>

<html>
	<head>
		<%- include("../meta.ejs"); %>
		<title><%= vars.default_title %></title>

		<%- imports.css_libs %>
		<link rel="stylesheet" type="text/css" href="/static/assets/css/main/style.css">

		<%- imports.js_libs %>
		<%- imports.js_main %>

		<script>
			<%- include("vars.ejs"); %>

			window.onload = () => {
				App.init()
			}
		</script>
	</head>
	<%- body_html %>
</html>