<!-- T:006 -->

<%- include("../doctype.ejs"); %>

<html>
	<head>
		<%- include("../meta.ejs"); %>

		<title><%= vars.default_title %></title>

		<link rel="stylesheet" type="text/css" href="/static/assets/css/build/libs.bundle.css">
		<link rel="stylesheet" type="text/css" href="/static/assets/css/main/style.css">
		
		<script src="/static/assets/js/build/libs.bundle.js"></script>
		<script src="/static/assets/js/build/main.bundle.js"></script>

		<script>

			<%- include("vars.ejs"); %>

			window.onload = function () {
				Hue.init()
			}

		</script>
	</head>

	<%- body_html %>

</html>